:root {
  --color: #0080ca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1; /* Mantendo fundo leve */
}

.container {
  &__signin {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #000;
    font-family: "Arial", sans-serif;
    align-items: center; /* Alinhando o conteúdo ao centro verticalmente */
    justify-content: center;

    &__left-side,
    &__right-side {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 40px;
    }

    &__left-side {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; /* Alinha o conteúdo no topo */
      height: 100%;
      padding: 40px;
      background: url("/fundo.jpg") no-repeat center center/cover;
      color: white;
      backdrop-filter: blur(8px);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #75737366;
        z-index: 1;
      }

      .title {
        margin-top: 1px;
        font-size: 2.5rem;
        font-weight: 700;
        text-shadow: 2px 2px 6px #00000099;
        margin-bottom: 10px;
      }

      .subtitle {
        font-size: 1.2rem;
        max-width: 80%;
        text-shadow: 1px 1px 4px #00000099;
      }
    }

    &__right-side {
      background-color: #f1f1f1;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

.register {
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  position: relative;
  max-width: 750px; /* Limitar a largura para manter simetria */

  &__banner {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    justify-content: center;

    .banner-h4 {
      font-size: 38px;
      font-weight: 400;
      text-align: left;
    }
  }

  &__title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 500;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px 0;
    width: 100%;
    align-items: center;

    &-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;
      position: relative;

      label {
        font-size: 18px;
      }

      .input-two,
      .inputs {
        padding: 25px 20px 25px 60px;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 16px;
        transition: all 0.3s ease;
        width: 100%;

        &:focus {
          border-color: var(--color);
          box-shadow: 0 0 5px var(--color);
        }
      }

      .input-two {
        width: 350px;
      }

      //inputs de email e endereço
      .inputs {
        width: 716px;
      }

      &-types {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        width: 100%;
        margin-top: 20px;
      }

      &-column {
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__radio {
    display: flex;
    gap: 16px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    color: #333;

    input[type="radio"] {
      width: 22px;
      height: 22px;
      accent-color: var(--color);
    }
  }

  &__submit {
    padding: 14px;
    background-color: var(--color);
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0f62fd;
    }
  }

  &__signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    p {
      font-size: 18px;
    }

    &-links {
      color: var(--color);
      margin-left: 10px;
      text-decoration: underline;

      &:hover {
        color: var(--color);
      }
    }
  }
}

//confirações dos icones

.lucide-icones,
.lucide-two {
  position: absolute;
  left: 16px;
  top: 70%;
  transform: translateY(-50%);
}

.lucide-two {
  top: 50%;
}
.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

@media (max-width: 915px) {
  .container__signin {
    height: 100vh;
    padding: 20px;
    max-width: 915px;
    background-color: #f1f1f1;

    &__left-side {
      display: none;
    }

    &__right-side {
      width: 100%;
      padding: 20px;
      box-shadow: none;
    }
  }

  .register {
    max-width: 100%;
    padding: 20px;

    &__banner {
      text-align: center;
      gap: 10px;
    }

    &__title {
      font-size: 28px;
      text-align: center;
    }

    &__form {
      gap: 16px;
    }

    &__form-group {
      gap: 12px;

      .input-two,
      .inputs {
        width: 100%;
        padding: 20px 20px 20px 50px;
      }

      &-column {
        gap: 40px;
      }
    }

    &__radio {
      gap: 12px; /* Reduz o espaçamento entre os botões */
    }

    &__submit {
      font-size: 16px; /* Reduz o tamanho da fonte */
      padding: 12px; /* Reduz o padding */
    }

    &__signup {
      p {
        font-size: 16px; /* Reduz o tamanho da fonte */
      }
    }
  }
}

@media (max-width: 529px) {
  .container__signin {
    padding: 20px;
    max-width: 100%;
    background-color: #f1f1f1;
    height: 100%;

    &__left-side {
      display: none;
    }

    &__right-side {
      width: 100%;
      padding: 20px;
      box-shadow: none;
      height: 100%;
    }
  }

  .register {
    max-width: 100%;
    padding: 15px;

    &__banner {
      text-align: center;
      gap: 10px;
    }

    &__title {
      font-size: 28px;
      text-align: center;
      margin-bottom: 20px;
    }

    &__form {
      gap: 16px;
    }

    &__form-group {
      flex-direction: column;
      width: 70%;
      margin-top: 20px;
    }

    .inputs,
    .input-two {
      padding: 12px 60px;
    }

    &__form-group-column {
      flex-direction: column;
      width: 100%;
    }

    &__radio {
      gap: 12px;
      flex-direction: column;
    }

    &__submit {
      font-size: 16px;
      padding: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__signup {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      p {
        font-size: 16px;
        margin-bottom: 5px;
      }

      &-links {
        font-size: 16px;
        text-decoration: underline;
        color: var(--color);
        transition: color 0.3s ease;

        &:hover {
          color: #0f62fd;
        }
      }
    }
  }
}
